@import "tailwindcss";

@theme {
  --color-emerald-50: #ecfdf5;
  --color-emerald-100: #d1fae5;
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
  --color-emerald-700: #047857;
  --font-sans: "Inter", "Roboto Flex", sans-serif;
}

@layer base {
  body {
    background-color: #F8F9FA;
    color: #4B5563;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #111827;
  }
}
